.about-sec {
  overflow: hidden;
  overla .about-text {
    padding: 0rem 3rem 0rem 0rem !important;
    margin: 0 !important;
    font-size: 2rem !important;
    text-align: left !important;
  }

  .text-about {
    line-height: 2rem;
  }
}
