.home {
  background-color: #f7f3f0 !important;
}

.home-main {
  max-width: 1600px !important;
}

.home-section {
  width: 100%;
  height: 75vh !important;
  font-size: 14px;
  color: #fff !important;
}

.scroll-down {
  font-family: monospace;
  color: #292b31;
  top: 22%;
  right: -12%;
  position: absolute;
  display: flex;
  justify-content: center;
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-size: 1.8rem;
}

.scroll-down::before {
  display: inline-block;
  content: "";
  border-top: 3px solid #292b31;
  width: 45px;
  margin: 0 10px 0 0;
  transform: translateY(15px);
}

.product-img {
  width: 700px;
  max-width: 100%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -40%);
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

/* NUMBER */
.product-text {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(20%, -50%);
  text-align: center;
}

.product-title {
  font-size: 17rem;
  color: #979695;
  letter-spacing: 2rem;
}

// LEFT
.content-inner {
  margin: 9rem 1rem 1rem 4.5rem;
  text-transform: uppercase;
}

.content-inner h1 {
  color: #292b31;
  font-size: 2.5rem;
  width: 50%;
  line-height: 3.6rem;
  letter-spacing: 0.1rem;
}

.yellow {
  color: #d1d5da;
}

.line {
  overflow: hidden;
  height: 75px;
  position: relative;
  span {
    position: absolute;
  }
}

@keyframes fly {
  0% {
    transform: translate(-50%, -46%);
  }
  50% {
    transform: translate(-40%, -54%);
  }
  100% {
    transform: translate(-50%, -46%);
  }
}

//! Ellipse container

.ellipse-container {
  width: 608px;
  height: 608px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  margin: 0 auto;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

.ellipse {
  position: absolute;
  top: 0;
  border-radius: 50%;
  border-style: solid;
}

.ellipse.thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: #494949;
  opacity: 0.5;
}

.ellipse.thick {
  width: 93%;
  height: 93%;
  border-width: 10px;
  border-color: #fff;
  transform: rotate(-45deg);
  top: 12px;
  left: 12px;
}

.ellipse.yellow {
  width: 93%;
  height: 93%;
  border-width: 10px;
  border-color: #ffeb00 transparent;
  transform: rotate(-45deg);
  top: 12px;
  left: 12px;
  animation: ellipseRotate 15s ease-in-out infinite;
}

@keyframes ellipseRotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

//! Circle
.circle1,
.circle2 {
  border-style: solid;
  width: 64px;
  height: 64px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  // text-transform: uppercase;
  animation: fly 4s ease-in-out infinite;
}

.circle1 {
  top: 25%;
  right: 22%;
}

.circle2 {
  top: 39%;
  right: 18%;
}

.circle1::before,
.circle1::after,
.circle2::before,
.circle2::after {
  content: "";
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle1::before,
.circle2::before {
  width: 12px;
  height: 12px;
  background: #fff;
  z-index: 1;
}

.circle1::after,
.circle2::after {
  width: 40px;
  height: 40px;
  background: #ffeb00;
}

.circle1 span,
.circle2 span {
  position: absolute;
  top: 25px;
  width: 200px;
  font-size: 16px !important;
  font-weight: 300 !important;
  letter-spacing: 0.08rem;
  color: #292b31;
}

.circle1 span {
  left: 75px;
}

.circle2 span {
  left: -210px;
}

//btn begin your jorney
.watchnow {
  position: absolute;
  top: 38%;
  left: 0;
  transform: translateY(-50%);
  background: #ffeb00;
  padding: 2rem 3.7rem 2.8rem 5rem;
}

.watchnow a {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 3px solid #000;
  padding-bottom: 5px;
}

.fa-play {
  color: #979695;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}

//! features

$blue: #233567;
$lBlue: #315b96;
$pink: #fadcdc;
$lPink: #ffe5e5;
$green: #76d8aa;
$redOrange: #d57868;
$white: #ffffff;

.features {
  min-height: 100vh;
  margin-top: 20vh;
  .container-home {
    width: 80%;
    margin: 0 auto;
  }
  .features-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .features-content {
      width: 33%;
      h3 {
        font-family: "Playfair Display";
        color: $blue;
        font-size: 2.6rem;
        line-height: 3.4rem;
        margin: 0 0 40px;
      }
      p {
        line-height: 1.8rem;
        font-weight: 300;
        color: $blue;
        margin-bottom: 88px;
      }
      .btn-row {
        a {
          opacity: 0;
        }
        a {
          color: $blue;
          text-decoration: none;
          font-weight: 600;
          img {
            margin-left: 16px;
          }
        }
      }
    }
    .features-list {
      width: 50%;
      display: flex;
      justify-content: center;
      ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        li {
          list-style: none;
          img {
            margin-bottom: 24px;
          }
          h5 {
            color: $blue;
            font-weight: 600;
            font-size: 1.2rem;
            margin: 0;
          }
          p {
            line-height: 1.8rem;
            font-weight: 300;
            color: $blue;
            width: 270px;
            margin: 16px 0 72px;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
