//! Navbar not active
#logo {
  background: -webkit-linear-gradient(left, #292b31, #d1d5da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  color: #292b31;
  // margin: 0rem 2rem 0rem 3.5rem;
  padding: 0rem 4rem;
  z-index: 2;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.wrap-burger {
  cursor: pointer;
  padding: 0.9rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-social-media {
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
}

.flex-logo {
  display: flex;
  align-items: center;
  letter-spacing: 0.15rem;
}

.flex-logo a {
  list-style: none !important;
  text-decoration: none !important;
}

//  Lines of burger
.line1,
.line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.3rem;
  background: #292b31;
  pointer-events: none;
  text-align: center;
}

.social-media-icons ul li {
  display: inline-block;
  padding: 25px;
  font-size: 25px;
  color: #292b31;
  cursor: pointer;
  border-radius: 50%;
  margin: 10px;
}

//! Navbar active
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffeb00;
  color: #292b31;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 52% -10%);
  -webkit-clip-path: circle(50px at 52% -10%);
  overflow-y: hidden;
}

.nav-links {
  font-size: 3rem;
  flex-basis: 30rem;
}
.nav-links h3 {
  padding: 3rem 0rem;
}
.contact {
  flex-basis: 30rem;
}
.contact h2 {
  font-size: 3rem;
  padding: 2rem 0rem;
}
.contact p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.reveal-img,
.reveal-text {
  position: absolute;
  width: 100%;
  height: 150%;
  background: #f7f3f0;
  left: 0;
  top: -15%;
}
